/*== MEDIAS QUERYS CSS ==*/

/*MEDIA QUERY HEADER*/
/* Media query para mobile */

@media screen and (max-width: 730px) {
  .nav-item {
    display: none;
  }
  .login-button {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu.open {
    display: flex; /* Exibe o menu quando aberto */
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 2.2rem;
  }

  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }
  .mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
  }
  .mobile-menu .login-button button {
    width: 100%;
  }
  .open {
    display: block;
  }
}

/* Media query para comuputador */
@media screen and (max-width: 2000px) {
  .container-home {
    max-width: 100% !important;
    padding: 0rem 3.5rem;
  }
}

@media screen and (max-width: 1563px) {
  .img-container {
    display: none;
  }
}

/*MEDIA QUERY SESSÃO PROJETOS!*/
@media screen and (max-width: 999px) {
  .img-port,
  .description-projetos {
    min-width: 70%;
    display: flex;
  }
}

/*SECTION HOME, SOBRE-MIM, PROJETOS*/
@media (max-width: 1217px) {
  /*tirando a altura de espaçamento do paragrafo olá em mobile*/
  /*Aqui ajusta a altura doe speçamento do paragrafo (olá)*/
  .container #paragrafo-ola h2 {
    margin-bottom: -5px;
    margin-top: 3px; /*altura entre o cabeçalho eo titulo ola.*/
  }
  #nome-rosa,
  .nome-rosa h1 {
    font-size: 50px;
  }

  /*MEDIA HOME IMAGE*/
  .img img {
    visibility: visible; /*faz com que a imagem suma quando vai para mobile.*/
    flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
    align-items: center; /* Centraliza verticalmente */
  }
  .quadrado {
    visibility: hidden; /*faz com que a imagem suma quando vai para mobile.*/
    flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
    align-items: center; /* Centraliza verticalmente */
  }

  /* SOBRE-MIM IMAGE */
  .img-sobre img {
    visibility: hidden; /*faz com que a imagem suma quando vai para mobile.*/
    flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
    align-items: center; /* Centraliza verticalmente */
  }
  .quadrado-sobre {
    visibility: hidden; /*faz com que a imagem suma quando vai para mobile.*/
    flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
    align-items: center; /* Centraliza verticalmente */
  }
}

@media (max-width: 768px) {
  /*HOME*/
  /*TIRANDO A MARGIN TABLETS E CELULARES*/
  .img-container {
    margin: 10px;
  }

  /*BOTOES LINKEDIN E GITHUB MOBILE*/
  .social-media {
    font-size: 16px; /* Reduz o tamanho da fonte para telas menores */
    padding: 10px 20px; /* Ajusta o padding para telas menores */
  }
}

@media screen and (max-width: 720px) {
  /*SECTION PROJETOS*/
  main.cards {
    flex-direction: column;
  }
  main.cards section.card {
    margin-left: 0;
    margin-bottom: 32px;
  }

  .img-port,
  .description-projetos {
    min-width: 100%;
    display: flex;
  }
}

/* Para telas de celulares */
@media (max-width: 480px) {
  .img-container {
    margin: 5px;
  }
}

@media only screen and (max-width: 430px) {
  /*SECTION FOOTER*/
  .footer {
    height: 140px;
    /*width: 3px;/*largura do rodapé */
    display: inline-block; /*faz com que todos fiquem na mesma linha*/
  }
  .footer p {
    text-align: center;
    text-transform: capitalize; /*capitalize*/
    font-size: 25px;
  }

  .footer img {
    height: 49px;
    /* width: 33px; */
    display: inline-block; /*faz com que todos fiquem na mesma linha*/
  }
}

@media only screen and (max-width: 414px) {
  /*NOME BENTO BROETTO MOBILE*/
  #nome-rosa,
  .nome-rosa h1 {
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  /*dev e web responsividade mobile*/
  #dev,
  .dev-rosa h2 {
    margin-left: -10px;
    font-size: 23px;
  }

  /*ONDA-DIVISAO-PAGES MOBILE*/
  .onda-divisao-pages {
    padding-top: 123px;
  }

  /*SECTION PROJETOS*/
  main.cards section.card {
    height: 99vh; /*define o tamanho dos cards de largura height:634px*/
  }
  main.cards section.card h3 {
    text-transform: capitalize; /*capitalize*/
    font-size: 30px;
  }
  main.cards section.card span {
    text-transform: lowercase; /*capitalize*/
    font-size: 25px;
  }

  /*SECTION FOOTER*/
  .footer {
    /* margin-top: 76vh; */
    height: 140px;
    /*width: 3px;/*largura do rodapé */
    display: inline-block; /*faz com que todos fiquem na mesma linha*/
  }
  .footer p {
    text-align: center;
    text-transform: capitalize; /*capitalize*/
    font-size: 25px;
  }

  .footer img {
    height: 49px;
    /* width: 33px; */
    display: inline-block; /*faz com que todos fiquem na mesma linha*/
  }
}

@media only screen and (max-width: 390px) {
  /*onda-divisao-pages MOBILE*/
  .onda-divisao-pages {
    padding-top: 123px;
  }

  /*SECTION PROJETOS*/
  main.cards section.card {
    height: 99vh; /*define o tamanho dos cards de largura height:634px*/
  }
  main.cards section.card h3 {
    text-transform: capitalize; /*capitalize*/
    font-size: 30px;
  }
  main.cards section.card span {
    text-transform: lowercase; /*capitalize*/
    font-size: 25px;
  }
}

@media only screen and (max-width: 375px) {
  /*NOME BENTO BROETTO MOBILE*/
  .container #paragrafo-ola h2 {
    /* padding: 23px; */
    margin-top: 50px;
    /* margin-bottom: -62px;
    margin-block: -334px; */

    font-size: 2em;
    margin-left: 45px;
    padding-top: 123px;
    /* margin-bottom: 6px; */
    color: white;
  }

  /*TITULOS ANA E  DEV FRONT E WEB DESIGN(ROSA E BRANCO)*/
  .nomes {
    display: flex;
    /* justify-content: center; Alinha horizontalmente no centro */
    flex-wrap: wrap; /* Mantém a responsividade */
  }

  #nome-rosa,
  .nome-rosa h1 {
    font-size: 50px;
  }

  /*MEDIA HOME IMAGE*/
  .img img {
    visibility: hidden; /*faz com que a imagem suma quando vai para mobile.*/
    flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
    align-items: center; /* Centraliza verticalmente */
  }
  .quadrado {
    visibility: hidden; /*faz com que a imagem suma quando vai para mobile.*/
    flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
    align-items: center; /* Centraliza verticalmente */
  }

  /*BOTOES LINKEDIN E GITHUB */
  .social-media {
    font-size: 14px; /* Reduz ainda mais o tamanho da fonte para dispositivos com largura de 375px */
    padding: 8px 16px; /* Ajusta o padding para dispositivos com largura de 375px */
    margin-bottom: 10px;
  }

  /*ONDA-DIVISAO-PAGES MOBILE*/
  .onda-divisao-pages {
    padding-top: 423px;
  }

  /* SOBRE-MIM IMAGE */
  .img-sobre img {
    visibility: hidden; /*faz com que a imagem suma quando vai para mobile.*/
    flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
    align-items: center; /* Centraliza verticalmente */
  }
  .quadrado-sobre {
    visibility: hidden; /*faz com que a imagem suma quando vai para mobile.*/
    flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
    align-items: center; /* Centraliza verticalmente */
  }

  /*MY SKILLS PRINCIPAIS LINGUAGENS UTILIZADAS.
TÍTULO*/
  #container-mySkills #principais-linguagens h1 {
    margin-block: 49px; /*dá um espaçamento entre o texto sobre e o titulo.*/
  }
  .container-slide {
    margin-block: -20px; /*altura do carrossel*/
    max-width: -526px;
  }

  /*SECTION PROJETOS*/
  main.cards {
    margin-block: -20px; /*altura*/
    /* margin-bottom: 233px; */
  }
  main.cards section.card {
    height: 99vh; /*define o tamanho dos cards de largura height:634px*/
  }

  main.cards section.card span {
    text-transform: lowercase; /*capitalize*/
    font-size: 20px;
  }
  /*SECTION FOOTER*/
  .footer {
    /* /* margin-top: 810px; */
    height: 100%;
    display: inline-block; /*faz com que todos fiquem na mesma linha*/
  }

  .footer p {
    text-align: center;
    text-transform: capitalize; /*capitalize*/
    font-size: 20px;
  }

  .footer img {
    height: 39px;
    /* width: 33px; */
    display: inline-block; /*faz com que todos fiquem na mesma linha*/
  }
}

/*MIN - MAX WIDTH*/
/*PAG SOBRE MIM*/
@media only screen and (max-width: 500px) and (min-width: 375px) {
  .container #paragrafo-sobreMim h3 {
    width: 100px;
  }
  .container #paragrafo-sobreMim h3 {
    width: 300px;
  }
}

@media only screen and (max-width: 412px) and (min-width: 375px) {
  .container #paragrafo-ola h2 {
    margin-top: 5rem;
  }

  .container #paragrafo-sobreMim h3 {
    padding: 0rem 0rem !important;
    max-width: 12rem !important;
    /* max-width: 12rem !important; */
  }
}

/*SECTION SOBRE MIM - MY SKILLS CARDS*/
@media only screen and (max-width: 527px) and (min-width: 309px) {
  .linguagens-border {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 100%;
    gap: 0.56rem;
    border-radius: 5% !important;
  }
  .linguagens-border h3 {
    font-weight: 700;
    text-align: center;
  }
  .paginas-slide {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .container #paragrafo-sobreMim h3 {
    width: 100%; /*325px*/
  }
}
